BasedOnStyle: Google 
IndentWidth: 4
Language: Cpp
ColumnLimit: 150
SortIncludes: false

# AccessModifierOffset:	-2
# MaxEmptyLinesToKeep: 1

# BreakBeforeBraces: Custom
# BraceWrapping:
#     AfterEnum: true
#     AfterStruct: false
#     AfterFunction: false
#     AfterNamespace: true
#     AfterUnion: true
#     IndentBraces: false

# IndentWrappedFunctionNames: true
 
# NamespaceIndentation: All