#pragma once
#include "Base/Meta/Reflection.h"
#include "Base/Meta/_generated/serializer/all_serializer.h"
{{#include_headfiles}}
#include "{{headfile_name}}"
{
    { / include_headfiles }
}

namespace Ethereal
{
    namespace Reflection
    {
        void TypeMetaRegister::Register() {
            {
                {
#class_defines
                }
            }
            TypeWrappersRegister::{{class_name}}();
            {
                { / class_defines }
            }
        }
    }  // namespace Reflection
}  // namespace Ethereal